<div class="flex flex-col">
  <p class="text-xl font-bold">
    <span class="text-[#707070]">Accueil / Management /</span>
    <span class="text-primary-text">Enseignants ({{ totalUsers }})</span>
  </p>

  <div
    class="flex flex-col min-h-100 bg-card text-primary-text shadow-lg rounded-lg p-4 gap-4 mt-8"
  >
    <p class="font-bold mt-4">Filtrer</p>
    <div
      class="flex md:flex-row flex-col justify-between gap-2 min-h-20 items-center"
    >
      <select
        class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-primary-500 md:w-1/3 w-full"
        [(ngModel)]="actualStatus"
        (change)="onStatusChange()"
      >
        <option value="all" selected>Tous</option>
        <option value="active">Actif</option>
        <option value="inactive">Inactif</option>
      </select>

      <input
        [(ngModel)]="first_name"
        (input)="getUsersList(actualPage, actualLimit)"
        type="text"
        placeholder="Rechercher par prénom"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-primary-500 focus:border-transparent md:w-1/3 w-full"
      />
      <select
        [(ngModel)]="roles"
        (change)="getUsersList(actualPage, actualLimit)"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-primary-500 md:w-1/3 w-full"
      >
        <option value="" disabled selected>Rôle</option>
        <option value="company_admin">Admin</option>
        <option value="company_receptionist">Receptioniste</option>
        <option value="company_consultant">Consultant</option>
      </select>
    </div>

    <div class="w-full h-[1px] bg-[#D1D8EB]"></div>

    <div class="flex md:flex-row flex-col justify-between gap-2">
      <div class="flex flex-row gap-2">
        <!-- <input
        [formControl]="searchControl"
        (keyup.enter)="getUsersList(actualPage, actualLimit)"
        type="text"
        placeholder="Rechercher par nom de famille"
        class="px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-1 focus:ring-primary-500  focus:border-transparent"
      /> -->
      </div>

      <div class="flex flex-row gap-2">
        <select
          id="perPage"
          class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-primary-500"
          [(ngModel)]="actualLimit"
          (change)="getUsersList(actualPage, actualLimit)"
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
        </select>

        <select
          class="px-4 py-2 border border-gray-300 rounded-lg focus:ring-1 focus:ring-primary-500 bg-[#A8AAAE29] border-0"
          (change)="onExportOptionSelected($event)"
          [disabled]="isDownloading"
        >
          <option value="" disabled selected>Export</option>
          <option value="pdf">PDF</option>
          <option value="excel">Excel</option>
        </select>

        <div *ngIf="isDownloading" class="mt-2">Téléchargement en cours...</div>
        <button
          class="bg-primary-500 rounded-lg px-4 py-2 cursor-pointer"
          (click)="openCreateUserDialog()"
        >
          <div class="flex flex-row items-center gap-2">
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M9 3.75V14.25"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M3.75 9H14.25"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <div class="text-white">Nouvel utilisateur</div>
          </div>
        </button>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <div class="overflow-x-auto">
        <table class="w-full border-collapse">
          <thead>
            <tr>
              <th class="p-2 border-b text-left">Utilisateurs</th>
              <th class="p-2 border-b text-left">Role</th>
              <th class="p-2 border-b text-left">Statut</th>
              <th class="p-2 border-b text-left">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of usersList()"
              class="border-b border-gray-300"
            >
              <td class="p-2">
                <div class="flex flex-row gap-2 items-center">
                  <svg
                    width="30"
                    height="30"
                    viewBox="0 0 38 38"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g clip-path="url(#clip0_50_5632)">
                      <rect
                        x="-0.1604"
                        y="0.0273438"
                        width="38"
                        height="38"
                        fill="#FC2828"
                        fill-opacity="0.18"
                      />
                      <path
                        d="M13.4942 24.9195C13.1242 24.9195 12.7667 24.8795 12.4217 24.7995C12.0767 24.7195 11.8392 24.657 11.7092 24.612L11.7917 23.097C11.9467 23.147 12.1217 23.2095 12.3167 23.2845C12.5167 23.3545 12.7592 23.3895 13.0442 23.3895C13.5342 23.3895 13.8692 23.2545 14.0492 22.9845C14.2292 22.7145 14.3192 22.267 14.3192 21.642V13.9245H15.9317V22.0845C15.9317 22.6945 15.8617 23.212 15.7217 23.637C15.5867 24.057 15.3442 24.377 14.9942 24.597C14.6442 24.812 14.1442 24.9195 13.4942 24.9195ZM18.3933 24.7695V13.9245H20.0658V19.362L24.6783 13.9245H26.5683L23.0283 18.1695L26.8983 24.7695H25.1133L21.8658 19.3395L20.0658 21.432V24.7695H18.3933Z"
                        fill="#FC2828"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_50_5632">
                        <rect width="38" height="38" rx="19" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                  <span>{{ user.full_name }}</span>
                </div>
              </td>
              <td class="p-2">{{ getFormateduserRole(user.roles) }}</td>
              <td class="p-2">
                <div
                  class="bg-[#28C76F29] w-20 rounded text-[#28C76F] text-center py-1"
                >
                  {{ user.status === "active" ? "Active" : "Désactivé" }}
                </div>
              </td>
              <td class="p-2">
                <div class="flex flex-row gap-2">
                  <!-- <div
                    class="cursor-pointer"
                    (click)="openEditUserDialog(user)"
                  >
                    <svg
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8.25008 6.41602H5.50008C4.48756 6.41602 3.66675 7.23683 3.66675 8.24935V16.4993C3.66675 17.5119 4.48756 18.3327 5.50008 18.3327H13.7501C14.7626 18.3327 15.5834 17.5119 15.5834 16.4993V13.7493"
                        stroke="#4B465C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.25008 6.41602H5.50008C4.48756 6.41602 3.66675 7.23683 3.66675 8.24935V16.4993C3.66675 17.5119 4.48756 18.3327 5.50008 18.3327H13.7501C14.7626 18.3327 15.5834 17.5119 15.5834 16.4993V13.7493"
                        stroke="white"
                        stroke-opacity="0.2"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.25 13.7499H11L18.7917 5.95822C19.5511 5.19882 19.5511 3.96761 18.7917 3.20822C18.0323 2.44882 16.8011 2.44882 16.0417 3.20822L8.25 10.9999V13.7499"
                        stroke="#4B465C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.25 13.7499H11L18.7917 5.95822C19.5511 5.19882 19.5511 3.96761 18.7917 3.20822C18.0323 2.44882 16.8011 2.44882 16.0417 3.20822L8.25 10.9999V13.7499"
                        stroke="white"
                        stroke-opacity="0.2"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M14.6667 4.58398L17.4167 7.33398"
                        stroke="#4B465C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M14.6667 4.58398L17.4167 7.33398"
                        stroke="white"
                        stroke-opacity="0.2"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div> -->
                  <!-- <div class="cursor-pointer" (click)="deleteUser(user.id)">
                    <svg
                      width="22"
                      height="22"
                      viewBox="0 0 22 22"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M3.66675 6.41732H18.3334"
                        stroke="#4B465C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M3.66675 6.41732H18.3334"
                        stroke="white"
                        stroke-opacity="0.2"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M9.16659 10.084V15.584"
                        stroke="#4B465C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M9.16659 10.084V15.584"
                        stroke="white"
                        stroke-opacity="0.2"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M12.8333 10.084V15.584"
                        stroke="#4B465C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M12.8333 10.084V15.584"
                        stroke="white"
                        stroke-opacity="0.2"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M4.58325 6.41602L5.49992 17.416C5.49992 18.4285 6.32073 19.2493 7.33325 19.2493H14.6666C15.6791 19.2493 16.4999 18.4285 16.4999 17.416L17.4166 6.41602"
                        stroke="#4B465C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M4.58325 6.41602L5.49992 17.416C5.49992 18.4285 6.32073 19.2493 7.33325 19.2493H14.6666C15.6791 19.2493 16.4999 18.4285 16.4999 17.416L17.4166 6.41602"
                        stroke="white"
                        stroke-opacity="0.2"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.25 6.41667V3.66667C8.25 3.16041 8.66041 2.75 9.16667 2.75H12.8333C13.3396 2.75 13.75 3.16041 13.75 3.66667V6.41667"
                        stroke="#4B465C"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M8.25 6.41667V3.66667C8.25 3.16041 8.66041 2.75 9.16667 2.75H12.8333C13.3396 2.75 13.75 3.16041 13.75 3.66667V6.41667"
                        stroke="white"
                        stroke-opacity="0.2"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div> -->
                  <div class="cursor-pointer">
                    <a
                      [routerLink]="['/detailUser', user.id]"
                      routerLinkActive="router-link-active"
                    >
                      <svg
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <circle
                          cx="11"
                          cy="11"
                          r="1.83"
                          stroke="#4B465C"
                          stroke-width="1.5"
                        />
                        <path
                          d="M20.17 11C17.72 15.28 14.67 17.42 11 17.42C7.33 17.42 4.28 15.28 1.83 11C4.28 6.72 7.33 4.58 11 4.58C14.67 4.58 17.72 6.72 20.17 11"
                          stroke="#4B465C"
                          stroke-width="1.5"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="flex flex-row md:justify-end justify-center gap-1 m-4">
        <button
          class="hidden md:block px-4 py-2 rounded-lg bg-primary-500 text-white cursor-pointer"
          (click)="changePage(actualPage - 1)"
          [disabled]="actualPage === 1"
        >
          Précédent
        </button>
        <button
          class="md:hidden px-1 py-2 rounded-lg bg-primary-500 text-white cursor-pointer"
          (click)="changePage(actualPage - 1)"
          [disabled]="actualPage === 1"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1265_7706)">
              <path
                d="M17.5098 3.8701L15.7298 2.1001L5.83984 12.0001L15.7398 21.9001L17.5098 20.1301L9.37984 12.0001L17.5098 3.8701Z"
                fill="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_1265_7706">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
        <button
          *ngFor="let pageNumber of [].constructor(totalPages); let i = index"
          (click)="changePage(i + 1)"
          class="rounded-lg px-4 bg-[#4B465C29] cursor-pointer transition-ease"
          [ngClass]="{ 'bg-primary-500  text-white': actualPage === i + 1 }"
        >
          {{ i + 1 }}
        </button>
        <button
          class="hidden md:block px-4 py-2 rounded-lg bg-primary-500 text-white cursor-pointer"
          (click)="changePage(actualPage + 1)"
          [disabled]="actualPage === totalPages"
        >
          Suivant
        </button>
        <button
          class="md:hidden px-1 py-2 rounded-lg bg-primary-500 text-white cursor-pointer"
          (click)="changePage(actualPage + 1)"
          [disabled]="actualPage === totalPages"
        >
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1265_7724)">
              <path
                d="M6.49023 20.1301L8.26023 21.9001L18.1602 12.0001L8.26023 2.1001L6.49023 3.8701L14.6202 12.0001L6.49023 20.1301Z"
                fill="currentColor"
              />
            </g>
            <defs>
              <clipPath id="clip0_1265_7724">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
