<div class="min-h-screen w-full flex items-center justify-center bg-card text-primary-text px-4">
    <div class="w-1/3 bg-card rounded-lg shadow-xl p-6">
        <img [src]="logoConfig.main" alt="Logo Gestion École" class="inline-block object-contain my-4 max-h-32 mx-auto" />
        <h2 class="text-2xl font-bold mb-4 text-center">
            Mot de passe oublié ?
        </h2>
        <p class=" mb-6 text-center">
            Entrez votre email pour recevoir un code de réinitialisation.
        </p>

        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label class="block text-sm font-medium mb-1">Adresse email</label>
                <input formControlName="email" type="email"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-500 "
                    placeholder="votre@email.com" />
                <div *ngIf="email.invalid && email.touched" class="text-sm text-red-500 mt-1">
                    Email invalide
                </div>
            </div>

            <button type="submit" [disabled]="forgotForm.invalid"
                class="w-full bg-primary-500 text-white py-2 rounded hover:bg-primary-600 transition cursor-pointer">
                Envoyer le code
            </button>
        </form>

        <div class="mt-4 text-center cursor-pointer">
            <a routerLink="/login" class="text-sm text-primary-500 hover:underline">
                Retour à la connexion
            </a>
        </div>
    </div>
</div>